/********** RESET **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212339;
    color: #86c252;
    font-family: 'Roboto', sans-serif;
}


.body-light-theme {                                    /*****   <--- this class should stay after body for the theme switch to work ****/
    background-color: #ffffff;
    color: #f5735e;
}

button {
    cursor: pointer;
}

/*************** COMMON *******************/

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/************* HEADER ************/

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    animation: headerFadeIn 1s linear forwards;
}

@keyframes headerFadeIn {

    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

header button {
    border: 0;
    background-color: transparent;
}

header button i {
    color: #86c252;
    font-size: 1.8rem;
}

.fa-toggle-off {
    color: #f5735e;
}


/************* MAIN ************/

main {
    height: calc(100vh - 137px);
}

main > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2 {
    margin-bottom: 20px;
}


.gen-btn {
    border: 0;
    background-color: transparent;
    color: #86c252;
    border-radius: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}

.gen-btn:hover {
    border: 2px solid #86c252;
    transform: translateY(-6px);
    padding: 8px 16px;
    transition: ease-in-out .40s;
}

.gen-btn-light {
    color: #f5735e;
}

.gen-btn-light:hover {
    border: 2px solid #f5735e;
}

.input-ctn,
.user-input-ctn {
    display: flex;
}

.input-ctn {
    animation: fadeLeft 1s linear forwards;
}

.user-input-ctn {
    animation: fadeRight 1s linear forwards;
}

@keyframes fadeLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
    
}
@keyframes fadeRight {

    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.input {
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border: 1px solid #86c252;
    cursor: pointer;
    background-color: #86c252;
    color: #212339;
    font-weight: bold;
    transition: background-color ease .40s;
}

.input:hover {
    background-color: transparent;
    color: #86c252;
}

.input:focus {
    outline: 0;
}

.none {
    animation: textFadeOut .10s linear forwards 15s;
}

@keyframes textFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.red {
    background-color: crimson;
    color: white;
}



/************* FOOTER ************/

footer > .container {
    text-align: center;
}

footer span {
    padding: 20px;
}

